.grid {
  display: grid;
  grid-template-columns: 4fr 4fr 3fr;
}
#more {
  margin-top: 30px;
  margin-left: 30px;
  max-height: 30px;
  opacity: 0.5;
}
#search {
  margin-top: 30px;
}
#name {
  margin-top: 10px;
  margin-bottom: 10px;
}