<div id="body">
  <div class="grid">
    <div id='logo'>
      <img src='../../assets/img/lifewire-sm.png' />
    </div>
    <div id='email'>
      <form action="https://lifewire.com/newsletter/signup" method="POST">
        <label for="email">Get the Most From Your Tech With Our Daily Tips</label><br/>
        <input name="email" type="email" placeholder="Enter Your Email" required pattern="\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}\b"/>
        <button class='btn-sm'>SIGN UP</button>
      </form>
      <div id='facebook'>
        <p>Follow us</p>
        <img src='../../assets/img/facebook-gray.png' />
      </div>
    </div>
    <div id="mainmenu">
      <ul>
          <li><a href="#link">HOW TO</a></li>
          <li><a href="#link">FIX</a></li>
          <li><a href="#link">BUY</a></li>
          <li><a href="#link">DO MORE</a></li>
        </ul>
    </div>
    <div id='footer-menu1'>
      <ul>
        <li><a href="#link">About Us</a></li>
        <li><a href="#link">Privacy Policy</a></li>
        <li><a href="#link">Careers</a></li>
        <li><a href="#link">Contact</a></li>
      </ul>
    </div>
    <div id='footer-menu2'>
      <ul>
        <li><a href="#link">Advertise</a></li>
        <li><a href="#link">Cookie Policy</a></li>
        <li><a href="#link">Editorial Guidelines</a></li>
        <li><a href="#link">Terms of Use</a></li>
        </ul>
    </div>
  </div>
</div>
