
.body {
  background-color: white;
}
h1 {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: rgb(255,200,64);
  font-size: 1.75em;
}
.grid {
  margin: 0px 50px 30px 50px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
  '. header .' 
  'photo title ad'
  'photo blurb ad'
  'photo . ad'
  'photo . ad'
  '. . ad'
  'ep1 ep4 ad'
  'ep2 ep5 ad'
  'ep3 ep6 ad';
}

#photo {
  grid-area: photo;
  /* display: inline-block; */
}
#photo img {
  max-width: 100%;
}
#title {
  grid-area: title;
  font-size: 1.5em;
} 
#header {
  grid-area: header;
}
#ad {
  display:block;
  background-color: rgb(63, 63, 63);
  color: white;
  text-align: center;
  grid-area: ad;
  margin-left: 10px;
}
#ep1 {
  grid-area: ep1;
}
#ep2 {
  grid-area: ep2;
}
#ep3 {
  grid-area: ep3;
}
#ep4 {
  grid-area: ep4;
}
#ep5 {
  grid-area: ep5;
}
#ep6 {
  grid-area: ep6;
}

a {
  color: black;
  font-weight: bold;
}
a:hover {
  color: rgb(255,107,76);
  text-decoration: none;
}
hr {
  border: 1px solid rgb(243, 240, 240);
  width: 95%;
  justify-self: start;
}

.articles {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1em;
}
#spacer {
  display: block;
  background-color: white;
  height: 30px;
}
#blurb {
  font-size: normal;
  font-weight: lighter;
  color: rgb(152, 152,152);
  grid-area: blurb;
}
.type {
  font-size: .75em;
  color: (rgb(204,204,204));
  font-weight: lighter;
}