
.grid {
  background-color: rgb(252, 202,42);
  margin: 50px;
  padding: 5px;
  display: grid;
  grid-template:
  "email email email email-speech facebook";
  grid-gap:5px;
  align-items: center;
}
form {
  grid-area: email;
  padding: 25px;
}
input {
  width: 80%;
  line-height: 2.2em;
}
label {
  font-size: 1.1em;
}
button {
  background-color: #ff6600;
  color: white;
  font-size: 16px;
  line-height: 1.5em;
  border: 1px solid #ff6600;

}
#email {
  grid-area: email;
}
#email-speech {
  grid-area: email-speech;
  justify-self: end;
}
#email-speech img {
  max-width: 150px;
}
#facebook {
  justify-self: end;
  grid-area: facebook;
}
#facebook img {
  max-width: 125px;
  margin-right:20px;
  justify-self: end;
}
p {
  font-weight: bold;
  font-size: 1.3em;
}
/* div {
  border: 1px solid gray;
} */