
<div class="grid">
  <div>
    <form action="https://lifewire.com/newsletter/signup" method="POST">
      <label for="email">Get the Most From Your Tech With Our Daily Tips</label><br/>
      <input name="email" type="email" placeholder="Enter Your Email" required pattern="\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}\b"/>
      <button class='btn-sm'>SIGN UP</button>
    </form>
  </div>
  <div>
      <!-- <img id='envelope' src='../../assets/img/envelope-512.png' />
      <img id='speech' src='../../assets/img/speech-bubble-icon-1.png' /> -->
      <img id='email-speech' src='../../assets/img/email-and-speech-bubble.png' />
  </div>
  <div>
  </div>
    <div>
      <p>Follow us</p>
      <img id='facebook' src='../../assets/img/facebook.png' />
    </div>
</div>

