.grid {
  background-color: gold;
  display: grid;
  grid-template-columns: 2fr, 1fr, 1fr;
  grid-template-rows: 1fr;
}
form {
  padding: 25px;
}
input {
  width: 30%;
  line-height: 2.2em;
}
label {
  font-size: 1.1em;
}
button {
  background-color: #ff6600;
  color: white;
  font-size: 16px;
  line-height: 1.5em;

}
#envelope {
  max-width: 100px;
  opacity: 50%;
  transform: rotate(-20deg);
}
#facebook {
  background-color: #3b5998;
}