h1 {
  text-align: center;
}
ul {
  list-style: none;
}
li {
  margin-left: -2em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  grid-gap: 5px;
}
#how-to, #fix {
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid gray;
  /* grid-template-rows: repeat(4, 1fr); */
  justify-items: center;
}
#how-to h1 {
  text-decoration: underline;
  text-decoration-color: lightblue;
}
#howToIcon, #howToPhoto, #fixIcon, #fixPhoto {
  max-width: 250px;
  padding-bottom: 5px;
}

.type {
  font-variant: small-caps;
  color: gray;
}