
h1 {
  text-align: center;
}
ul {
  list-style: none;
}
li {
  margin-left: -2em;
  font-weight: bold;
  
}
li:first-child {
  font-size: 1.2em;
  font-weight: bold;
}
a {
  color: black;
}
a:hover {
  color: darkorange;
  text-decoration: none;
}

img {
  max-width: 250px;
  padding-bottom: 5px;
  object-fit: cover;
}
hr {
  border: 1px solid rgba(228, 226, 226, 0.904);
}
.grid {
  display: grid;
  grid-template: auto / repeat(4, 1fr);
  grid-gap: 8px;
  background: linear-gradient(to bottom,#fff 15%,#F0F0F0 30%);
}
#how-to, #fix, #buy, #do-more {
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  /* border: 1px solid gray; */
  justify-items: center;
}
#how-to h1 {
  text-decoration: underline;
  text-decoration-color: skyblue;
}
#fix h1 {
  text-decoration: underline;
  text-decoration-color: salmon;
}
#buy h1 {
  text-decoration: underline;
  text-decoration-color: yellowgreen;
}
#do-more h1 {
  margin-top: 15px;
  margin-bottom: 20px;
  text-decoration: underline;
  text-decoration-color: rgb(72, 139, 194);
}
#do-more img {
  margin-bottom: 12px;
}
.type {
  font-variant: small-caps;
  color: gray;
}
.arrow {
  color: darkorange; 
}
.allLink {
  justify-self: start;
  font-variant: small-caps; 
}