<div class="grid">
  <div id="how-to">
    <div>
      <img id='howToIcon' src="{{ tfHowToSection.icon }}" alt='How To Icon' />
    </div>
    <div>
      <h1 id="howToH1">How To</h1>
    </div>
    <div>
      <img id='howToPhoto' src="{{ tfHowToSection.photo }}" alt='photo' />
    </div>
    <div>
      <ul>
        <li *ngFor="let currentItem of tfHowToSection.items">
          <span class='type' >{{currentItem.type}}</span> <br />
          <a id="{{currentItem.id}}" href="{{currentItem.link}}">{{currentItem.title}}</a><hr></li>
        </ul>
      </div>
      <div>
        <a class="allLink" href="{{tfHowToSection.url}}">All how to <span class="arrow">&rarr;</span></a>
      </div>
    </div>
    <div id='fix'>
      <div>
        <img id='fixIcon' src="{{tfFixSection.icon}}" alt='Fix Icon' />
      </div>
      <div>
        <h1 id="fixH1">Fix</h1>
      </div>
      <div>
        <img id='fixPhoto' src="{{ tfFixSection.photo }}" alt='Fix Photo' />
      </div>
      <div>
        <ul>
          <li *ngFor="let currentItem of tfFixSection.items">
            <span class="type">{{currentItem.type}}</span> <br />
            <a href="{{currentItem.link}}">{{currentItem.title}}</a> <hr></li>
        </ul>
      </div>
      <div>
          <a class="allLink" href="{{tfFixSection.url}}">All Fix<span class="arrow">&rarr;</span></a>
      </div>
    </div>
    <div id="buy">
      <div>
        <img id='buyIcon' src="{{tfBuySection.icon}}" alt="Buy icon" />
      </div>
      <div>
        <h1 id='buyH1'>Buy</h1>
      </div>
      <div>
        <img id='buyPhoto' src="{{ tfBuySection.photo }}" alt="Buy photo" />
      </div>
      <div>
        <ul>
          <li *ngFor="let currentItem of tfBuySection.items">
              <span class="type">{{currentItem.type}}</span> <br />
              <a href="{{currentItem.link}}">{{currentItem.title}}</a> <hr></li>
        </ul>
      </div>
      <div>
        <a class="allLink" href="{{tfBuySection.url}}">All buy<span class="arrow">&rarr;</span></a>
      </div>
    </div>
    <div id='do-more'>
      <div>
        <img id='do-moreIcon' src="{{tfDoMoreSection.icon}}" alt='Do More icon' />
      </div>
      <div>
        <h1 id="doMoreH1">Do More</h1>
      </div>
    <div>
      <img id='do-morePhoto' src="{{tfDoMoreSection.photo}}" alt="Do more photo" />
    </div>
    <div>
      <ul>
          <li *ngFor="let currentItem of tfDoMoreSection.items">
            <span class="type">{{currentItem.type}}</span> <br />
            <a href="{{currentItem.link}}">{{currentItem.title}}</a> <hr></li>       
      </ul>
    </div>
    <div>
        <a class="allLink" href="{{tfDoMoreSection.url}}">All Do More<span class="arrow">&rarr;</span></a>
    </div>
</div>