.grid {
  display: grid;
  grid-template-columns: 4fr;
}
#how-to {
  display: grid;
  border: black solid 1px;

  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}

#howToIcon, #howToPhoto {
  max-height: 150px;
}